@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, YuGothic, "Yu Gothic", "游ゴシック", "游ゴシック体", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
}

.about-me,
.hello {
    background-image: linear-gradient(0deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px)),
        linear-gradient(90deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px));
    background-size: 16px 16px;
    background-repeat: repeat;
    background-position: center center;
}

html,
body {
    margin: 0 auto;
    scroll-behavior: smooth;
    background: #EFF0F2;
    color: #e6004d;
    animation: fadein 1s forwards;
}

@keyframes fadein {
    0% {
        opacity: 0.5
    }

    100% {
        opacity: 1
    }
}

body {
    width: 100%;
    /* max-width: 1600px; */
    margin: 0 auto;
    height: 100%;
    padding: 0 20%;
}

li {
    list-style: none;
}

a {
    color: #e6004d;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1600px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 20px 0;
    z-index: 10;
}

.logo h1 a {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #4a4a4a;
    text-decoration: none;
    letter-spacing: 0.1rem;
}

nav.pc ul {
    display: flex;
    gap: 30px;
}

nav.pc ul li a {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #7f7f7f;
    text-decoration: none;
    letter-spacing: 0.1rem;
}

.logo.to-top {
    width: 10%;
    padding-top: 23px;
    z-index: 11;
    transition: 0.5s;
}

.profile-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-circle {
    width: 20px;
    height: 20px;
    background-color: #4772AB;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-title h3 {
    font-size: 24px;
    color: #4a4a4a;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.hamburger {
    display: none;
    margin: 40px;
    right: 0;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 90px;
    height: 30px;
    z-index: 20;
}

.hamburger span {
    display: block;
    background: #e6004d;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.menu-sp {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #f0d8d8;
    z-index: 15;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-sp.active {
    display: flex;
}

.menu-sp ul {
    list-style: none;
    text-align: center;
}

.menu-sp li {
    margin: 20px 0;
}

.menu-sp a {
    color: #e6004d;
    font-size: 24px;
}

.top {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.top h2 {
    font-family: Arial, sans-serif;
    font-size: 108px;
    color: #4a4a4a;
    line-height: 1.2;
    margin-bottom: 20px;
    letter-spacing: 0.1rem;
}

.top h2 .blue {
    color: #4772AB;
}

.top p {
    font-size: 18px;
    color: #4a4a4a;
}

.profile-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0 40px;
}

.about-me {
    display: block;
    /* Changed from flex to block as content inside is wrapped in .profile-content */
    background-color: #FFF;
    margin-top: 170px;

    position: relative;
}

.pr-l {
    width: 45%;
}

.pr-l h2 {
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: #4a4a4a;
    letter-spacing: 0.1rem;
    margin-bottom: 20px;
}

.pr-l p {
    font-size: 18px;
    color: #4a4a4a;
    margin-bottom: 5px;
}

.pr-r {
    width: 55%;
    padding-right: 40px;
    text-align: left;
}

.pr-r p {
    font-family: YuGothic, "Yu Gothic", "游ゴシック", "游ゴシック体", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
    font-size: 16px;
    color: #4a4a4a;
    line-height: 1.8;
}

.about-me h2,
.works h2,
.thanks h2 {
    font-size: 50px;
}

.skills {
    display: flex;
    justify-content: space-between;
    background-color: #EFF0F2;
    padding: 40px;
}

.skills-category {
    width: 48%;
}

.skills-category h4 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #4a4a4a;
    margin-bottom: 20px;
    letter-spacing: 0.1rem;
}

.skill-item {
    margin-bottom: 20px;
}

.skill-info {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 1.5;
    color: #4a4a4a;
    margin-bottom: 5px;
}

.skill-percentage {
    opacity: 0;
    transition: opacity 0.6s;
}

.skill-bar-container {
    position: relative;
    width: 100%;
    height: 15px;
    background-color: #dcdcdc;
    overflow: hidden;
    border-radius: 5px;
}

.skill-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #4772AB;
    transition: width 3s cubic-bezier(0.22, 1, 0.36, 1);
    border-radius: 5px;
}

.works,
.hello,
.thanks {
    width: 100%;
    margin-top: 170px;
    background-color: #EFF0F2;
    padding: 0 40px;
}

.works h3 {
    font-size: 90px;
    opacity: 0.3;
    margin-bottom: -70px;
    text-align: center;
}

.hello {
    padding: 20px 0;
    font-size: 120%;
    line-height: 4.2em;
}

footer {
    font-size: 20px;
    padding: 30px;
    text-align: center;
    border-top: 3px #e6004d solid;
}

.sp,
.menu.sp,
.to-top .d-logo.sp,
.menu-sp {
    display: none;
}

.frame-in {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.frame-in.show {
    opacity: 1;
    transform: translateY(0);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 200px;
}

.gallery img {
    width: auto;
    height: 240px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s, opacity 0.8s ease-out, transform 0.8s ease-out;
    opacity: 0;
    transform: translateY(30px);
}

.gallery img.visible {
    opacity: 1;
    transform: translateY(0);
}

.gallery img:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px;
}

.modal.active {
    display: flex;
    z-index: 9999;
    flex-direction: column;
}

p.caption {
    color: #FFF;
    padding: 20px;
    font-weight: bold;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.5);
    color: black;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.works-boxies{
    width: 100%;
    padding: 70px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    background: #FFF;
    margin-bottom: 200px;
    position: relative;
}
.works-box{
    width: 25%;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.works-box.fade-in {
    opacity: 1;
    transform: translateY(0);
}
.works-boxies > img{
    width: 15px;
    position: absolute;
}
.works-boxies h5{
    font-size: 150%;
    border-bottom: 3px solid;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;
}
.works-box p{
    font-size: 110%;
}
.kira-1{
    left: 33%; bottom: 50%;
}
.kira-2{
    right: 33%; bottom: 50%;
}
.thanks p{
    font-size: 120%;
}
@media screen and (max-width:768px) {
    body,
    header {
        width: 90%;
    }

    .sp,
    .menu.sp,
    .about-me,
    .works,
    .thanks{
        display: block;
    }

    .pr-l,
    .pr-r{
        width: 100%;
    }

    .pr-r p {
        font-size: 90%;
    }

    .pc {
        display: none;
    }

    header {
        padding-left: 0;
    }

    nav ul {
        padding: 20px 0;
        display: block;
        border: none;
        transition: 0.5s;
    }

    .menu-sp ul li a {
        transition: 0.5s;
        font-size: 200%;
    }

    .logo.to-top {
        padding-top: 36px;
        padding-left: 0;
    }

    .logo.d-none {
        display: block;
        width: 134px;
        padding: 2%;
        padding-top: 36px;
        padding-left: 0;
        z-index: 11;
        background-color: #f0d8d8;
    }

    .hamburger {
        display: flex;
        position: fixed;
    }

    .menu.pc {
        display: none;
    }

    .about-me .ki1,
    .about-me .ki2 {
        left: 0 !important;
    }

    .about-me .ki2 {
        left: 90px !important;
    }

    .kira-1{
        top: 33%; left: 50%;
    }
    .kira-2{
        left: 50%; bottom: 35%;
    }

    .gallery img {
        width: 116px;
        width: calc((100vw - 87px) / 3);
        height: auto;

    }
    .thanks p{
        text-align: left;
    }
}
